{% extends 'base.html.twig' %}

{% block title %}Annonces immobilières{% endblock %}

{% block body %}
<div class="body-cart">
<h1 style="text-align: center">
Article ✅
</h1>

  <div class="row">
      <div class="carts">
        <div class="cart">
          <img src={{ annonce.image }} alt="Image annonce">
          <div class="infos">
            <h2>{{ annonce.company }}</h2>
            <p>{{ annonce.type }}</p>
						<p class='price'>{{ annonce.price }}
							€ /mois</p>
						<p>{{ annonce.rooms }}
							pièces |
							{{ annonce.bedrooms }}
							chambres |
							{{ annonce.surface }}
							m² |
							{{ annonce.floor }}ème étage</p>

						<p>{{ annonce.address }}</p>
						<p>Disponible le: 15 avril 2023</p>
            <a href="{{ path('app_cart', {id: annonce.id}) }}">Voir l'annonce</a>
          </div>
        </div>
      </div>

  </div>
  </div>

{% endblock %}