{% extends 'base.html.twig' %}

{% block title %}Annonces !{% endblock %}

{% block body %}

<h1 style="text-align: center">
Article ✅
</h1>

  <div class="row">
      <div class="carts">
        <div class="cart">
          <img src={{ annonce.image }} alt="Image annonce">
          <div class="infos">
            <h2>{{ annonce.description }}</h2>
            <p>{{ annonce.surface }}</p>
            <p class='prices'>{{ annonce.price }} € /mois</p>
            <p>Disponible le: 15 avril 2023</p>
            <a href="{{ path('app_cart', {id: annonce.id}) }}">Voir l'annonce</a>
          </div>
        </div>
      </div>
  </div>
{% endblock %}