{% extends 'base.html.twig' %}

{% block title %}Annonces immobilières
{% endblock %}

{% block body %}


	<div class="img-home"></div>
	<main>
		<div class="annonces-block">
			<h2>Nos dernières annonces</h2>
			<div class="annonces-list flex-jc-sb">
				{% for annonce in annonces|slice(0, 3) %}
					<div class="annonces-home ">
						<div>
							<h2>{{ annonce.agency }}</h2>
							<img src="assets/images/{{ annonce.image }}" alt="Image annonce"/>
						</div>
						<div class="details">
							<p class="bold fs-24">{{ annonce.price }}
								€
							</p>
							<p class="bold">{{ annonce.type }}</p>

							<p class="bold">{{ annonce.rooms }}
								pièces •
								{{ annonce.bedrooms }}
								chambres •
								{{ annonce.surface }}
								m² • Étage
								{{ annonce.floor }}</p>


							<p>{{ annonce.address }}</p>
							<a href="{{ path('app_cart', {id: annonce.id}) }}">Voir l'annonce</a>
						</div>
					</div>

				{% endfor %}
			</div>
			<h2>Nos Actualités<h2>
					<div class="flex-jc-sb">
						<div class="promo-banner">
							<img src="/assets/images/actu.jpg" alt="Actu banner 1">
							<h3>Actu 1</h3>
							<p>Description de l'actu 1</p>
							<a href="#">En savoir plus</a>
						</div>

						<div class="promo-banner">
							<img src="/assets/images/actu2.jpg" alt="Actu banner 2">
							<h3>Actu 2</h3>
							<p>Description de l'actu 2</p>
							<a href="#">En savoir plus</a>
						</div>
						<div class="promo-banner">
							<img src="/assets/images/actu3.jpg" alt="Promo banner 3">
							<h3>Actu 3</h3>
							<p>Description de l'actu' 3</p>
							<a href="#">En savoir plus</a>
						</div>
					</div>
				</div>


			</main>

		{% endblock %}
