{% extends 'base.html.twig' %}

{% block title %}Annonces immobilières
{% endblock %}

{% block body %}




	<div class="img-home">
	
	</div>
	<main>
		<div class="annonces-block">
			<h2>Nos dernières annonces</h2>
			<div class="annonces-list">
				{% for annonce in annonces|slice(0, 4) %}
					<div class="annonce">
						<div class="annonce-image">
							<img src="{{ annonce.image }}" alt="{{ annonce.company }}">
						</div>
						<div class="annonce-details">
							<h3>{{ annonce.company }}</h3>
							<p>{{ annonce.type }}</p>						
							<p class="price">{{ annonce.price }}
								€ / mois</p>
							<p>{{ annonce.address }}</p>
							
						</div>
					</div>
				{% endfor %}
			</div>
			<h2>Nos Actualités
				<h2></div>
				<div class="promo-banners">
					<div class="promo-banner">
						<img src="/assets/images/actu.jpg" alt="Actu banner 1">
						<h3>Actu 1</h3>
						<p>Description de l'actu 1</p>
						<a href="#">En savoir plus</a>
					</div>

					<div class="promo-banner">
						<img src="/assets/images/actu2.jpg" alt="Actu banner 2">
						<h3>Actu 2</h3>
						<p>Description de l'actu 2</p>
						<a href="#">En savoir plus</a>
					</div>
					<div class="promo-banner">
						<img src="/assets/images/actu3.jpg" alt="Promo banner 3">
						<h3>Actu 3</h3>
						<p>Description de l'actu' 3</p>
						<a href="#">En savoir plus</a>
					</div>
				</div>


			</main>

		{% endblock %}
