{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
<div class="page-register">

	<div class="form">
		<h1>Créer un compte ✅</h1>
		<div class="flex">
			<p>Vous avez déjà un compte ?
			</p>
			<a href="{{ path('app_login') }}">Se connecter</a>
		</div>
		<div class="form-register">
			{{ form_start(registrationForm) }}
			<div class="sec">
				{{ form_row(registrationForm.lastname) }}
				{{ form_row(registrationForm.firstname) }}
			</div>
			<div class="sec">
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.password) }}
			</div>
			<div class="sec">
				{{ form_row(registrationForm.phone) }}
				{{ form_row(registrationForm.address) }}
			</div>
			<div class="sec">
				{{ form_row(registrationForm.city) }}
				{{ form_row(registrationForm.zipcode) }}
			</div>
			<div class="sec">
				{{ form_row(registrationForm.country) }}
			</div>
			<div class="sec">
				{{ form_row(registrationForm.agreeTerms) }}
			</div>
			<div class="sec">
				<button type="submit" class="btn">Créer un compte</button>
			</div>
			{{ form_end(registrationForm) }}
		</div>
	</div>
</div>

{% endblock %}
