{% extends 'base.html.twig' %}

{% block title %}Annonces !{% endblock %}

{% block body %}

<h1 style="text-align: center">
Annonces ✅
</h1>


  {# <h1>Tous les articles ({{ article|length }})</h1> #}
  <div class="row">
    {% for annonce in annonces %}
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img src="{{ annonce.image }}" class="card-img-top" alt="{{ annonce.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ annonce.title }}</h5>
            <p class="card-text">{{ annonce.description }}</p>
            <a href="{{ path('app_home', {slug: annonce.slug}) }}" class="btn btn-primary">Voir annonce</a>
          </div>
        </div>
      </div>  
    {% endfor %}
  </div>

{% endblock %}