<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Annonces immobilières

			{% endblock %}
		</title>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css"> {% block javascripts %}{% endblock %}
		</head>
		<body>

			{% include 'partials/nav.html.twig' %}
			{% block body %}


				<div class="container-filters ta-c fs-24">

					<p>FILTRES...</p>
				</div>


				<div class="body-annonce">
					<p style="font-size: 1.5rem; margin-bottom: 20px">{{annonces|length}}
						biens en location en Ile-de-France</p>

					<label for="order-select">Trier par</label>
					<select id="order-select">
						<option value="selection">Sélection</option>
						<option value="price-asc">Prix croissant</option>
						<option value="price-desc">Prix décroissant</option>
						<option value="surface-asc">Surface croissante</option>
						<option value="surface-desc">Surface décroissante</option>
					</select>

					{{ form_start(form) }}
					{{ form_row(form.prices) }}
					{{ form_row(form.filter) }}
					<button type="submit" class="">dgdg</button>
					{{ form_end(form) }}


					{% for annonce in annonces %}

						<div class="annonces flex">
							<div>
								<h2>{{ annonce.agency }}</h2>
								<img src="assets/images/{{ annonce.image }}" alt="Image annonce"/>
							</div>
							<div class="details">
								<p class="bold fs-24">{{ annonce.price }}
									€
								</p>
								<p class="bold">{{ annonce.type }}</p>

								<p class="bold">{{ annonce.rooms }}
									pièces •
									{{ annonce.bedrooms }}
									chambres •
									{{ annonce.surface }}
									m² • Étage
									{{ annonce.floor }}
									{% if annonce.balcony %}
										• Balcon
									{% endif %}
									{% if annonce.patio %}
										• Terrase
									{% endif %}
									{% if annonce.lift %}
										• Ascenseur
									{% endif %}
								</p>

								<p>{{ annonce.address }}</p>
								<a href="{{ path('app_cart', {id: annonce.id}) }}">Voir l'annonce</a>
							</div>

						</div>

					{% endfor %}

					{% include 'partials/map.html.twig' %}

				</div>

				<script></script>

			{% endblock %}

		</body>
	</html>
