<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Annonces immobilières

			{% endblock %}
		</title>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css"> {% block javascripts %}{% endblock %}
		</head>
		<body>

			{% include 'partials/nav.html.twig' %}
			{% block body %}


				<div class="container-filters ta-c fs-24">

					<div class="filter">
						{{form_start(form)}}
						{{ form_row(form.prixmin) }}
						{{ form_row(form.prixmax) }}
						{{ form_row(form.submit) }}
						<a class='btn-fiche' href={{path('app_purchase')}}>Voir tout</a>
						{{form_end(form)}}
					</div>

				</div>


				<div class="body-annonce">
					<p style="font-size: 1.5rem; margin-bottom: 20px">{{allAnnonces|length}}
						biens en location en Ile-de-France</p>


					<div class="filters">
						{{knp_pagination_sortable(annonces,'Trier par prix','p.price')}}
					</div>


					{% for annonce in annonces %}

						<div class="annonces flex">
							<div>
								<h2>{{ annonce.agency }}</h2>
								<img src="assets/images/{{ annonce.image }}" alt="Image annonce"/>
							</div>
							<div class="details">
								<p class="bold fs-24">{{ annonce.price }}
									€
								</p>
								<p class="bold">{{ annonce.type }}</p>

								<p class="bold">{{ annonce.rooms }}
									pièces •
									{{ annonce.bedrooms }}
									chambres •
									{{ annonce.surface }}
									m² • Étage
									{{ annonce.floor }}
									{% if annonce.balcony %}
										• Balcon
									{% endif %}
									{% if annonce.patio %}
										• Terrase
									{% endif %}
									{% if annonce.lift %}
										• Ascenseur
									{% endif %}
								</p>

								<p>{{ annonce.address }}</p>
								<a href="{{ path('app_cart', {id: annonce.id}) }}">Voir l'annonce</a>
							</div>

						</div>

					{% endfor %}

					<div class="pagination">
						{{knp_pagination_render(annonces)}}
					</div>


					{% include 'partials/map.html.twig' %}

				</div>

				<script></script>

			{% endblock %}

		</body>
	</html>
