{% extends 'base.html.twig' %}

{% block title %}Annonces index{% endblock %}

{% block body %}
    <h1>Annonces index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Address</th>
                <th>Image</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.title }}</td>
                <td>{{ annonce.description }}</td>
                <td>{{ annonce.price }}</td>
                <td>{{ annonce.address }}</td>
                <td><img src="{{ asset( annonce.image) }}" width="100"></td>
                <td>{{ annonce.createdAt ? annonce.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce.updatedAt ? annonce.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="actions">
                    <a href="{{ path('app_annonces_crud_show', {'id': annonce.id}) }}" class="show"><i class="fa fa-eye"></i> Show</a>
                    <a href="{{ path('app_annonces_crud_edit', {'id': annonce.id}) }}" class="edit"><i class="fa fa-pencil"></i> Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_annonces_crud_new') }}" class="create-btn"><i class="fa fa-plus"></i> Create new</a>
{% endblock %}
